﻿.teAuthPage {
    padding: 3% 5% 3% 5%;
}

.btAuthPage {
    display: block;
}

.taximeterTopWrapper {
    display: inline-block;
    padding: 0.4em 1em;
    line-height: 1.5em;
    min-width: 5em;
    margin: 0.25em auto;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

.listItemText, .centeredContentMessage{
    white-space: pre-line;
}
