﻿::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #444;
    background-color: #eee;
    margin: auto;
    /*overflow: hidden;*/
}

input, textarea {
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;
    color: #444;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0.125em 0.3em 0.125em 0;
    resize: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.border {
    border: 1px solid #ccc;
    display: inline-block;
}

.dvBody {
    width: 100%;
    height: 100%;
    background-color: white;
}

div {
    display: block;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

table {
    border-spacing: 0;
    border: none;
    font-size: inherit;
}

tr, td {
    padding: 0;
    font-size: inherit;
}

p {
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.mainMenu {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
}

.hourglass {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
    margin: auto;
}
.pulsar{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.animation-front {
    fill: #73b7e8;
}
#animation-back {
    fill: rgba(115, 183, 232, 0.52);
    stroke: #73b7e8;
}

.disabler {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 5000;
}

.dvTopToolbar {
    background: transparent; 
    position: absolute; 
    z-index:5; 
    top: 0; 
    width:100%; 
}

.fullScreenWrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.fullScreenOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 500;
    margin: auto;
    pointer-events: none;
    overflow: hidden;
}

.centeredContentWrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.centeredContent {
    display: table-cell;
    vertical-align: middle;
}

.centeredContentMessage {
    padding: 0 1.0em;
}

.toolbar {
    margin-top: 0.25em;
    word-spacing: -1;
}

.button {
    display: inline-block;
    padding: 0.4em 1em;
    border-radius: 1.5em;
    /*min-height: 1.0em;*/
    line-height: 1.5em;
    min-width: 5em;
    margin: 0.25em auto;
    border: 1px solid transparent;/* #ccc;*/
    text-align: center;
    overflow: hidden;
    background-color: transparent;
}

.button span {
  display: block;
}

.selectorButtonBig {
    display: inline-block;
    padding: 0.35em 1em;
    border-radius: 2em;
    text-align: center;
    min-width: 2.0em;
    min-height: 2.0em;
    background-color: transparent;
    overflow: hidden;
    pointer-events: all;
}

.orderButtonBig {
    display: block;
    padding: 0.8em;
    margin: 0.4em auto;
    border-radius: 0.8em;
    text-align: center;
    min-width: 2.0em;
    width:95%;
    min-height: 2.3em;
    background-color: #B2DCEF;
    overflow: hidden;
    pointer-events: all;
    text-transform: uppercase;
}
.orderButtonBig:hover,
.orderButtonBig:focus{
    color: #ffffff;
    background-color: #B2DCEF !important;
}
.orderButtonBig.unhovered-class{
    background-color: #B2DCEF;
}

.payment-caption {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.selectorButtonBig img {
    vertical-align: middle;
}

.selectorButtonBig span {
    vertical-align: middle;
    padding-left: 0.25em;
}

.selectorButton {
    display: inline-block;
    padding: 0.25em 0.25em 0 0.25em;
    margin: 0 0.125em !important;
    border-radius: 0.25em;
    text-align: center;
    vertical-align: bottom;
    min-width: 2.5em;
    min-height: 2.0em;
    background-color: transparent;
    overflow: hidden;
    pointer-events: all;
    border-bottom: 0.25em solid transparent;
}


.selectorButton img {
    vertical-align: middle;
}

.selectorButton span {
    display: block;
    vertical-align: middle;
}

.selectorButtonTab {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectorButtonSelected {
    border-bottom: 0.25em solid #60b6dd;
    /*border: 1px solid rgba(100, 184, 223, 0.5);
    background-color: rgba(100, 184, 223, 0.1);*/
}

.textButton {
    pointer-events: all;
}

.disabledButton {
    color: #999 !important;
    cursor: default !important;
    -webkit-filter: blur(1.5px) grayscale(1.0) opacity(0.8);
    filter: blur(1.5px) grayscale(1.0) opacity(0.8);
}

.blur {
    -webkit-filter: blur(1.5px) grayscale(1.0);
    filter: blur(1.5px) grayscale(1.0);
}

.captionButton {
    margin: 0 !important;
    /*border: 1px solid #ccc;*/
    border-radius: 1.5em;
    padding: 0 !important;
    width: 2em;
    height: 2em;
    background-color: transparent;
    overflow: hidden;
    pointer-events: all;
}

.transparentButton {
    border-radius: 1.5em;
    margin: 0 !important;
    padding: 0 !important;
    width: 2em;
    height: 2em;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;
    pointer-events: all;
    z-index: 10;
}


.button-highlited {
    background-color: rgba(100, 184, 223, 0.5);
}

.button-hover {
    background-color: rgba(100, 184, 223, 0.5);
}

.greenButton {
    background-color: #8ecb60;
    color: white;
    border: 1px solid transparent;
}

.button-hover.greenButton {
    background-color: #74bc48;
}

.redButton {
    background-color: #ED6E72;
    color: white;
    border: 1px solid transparent;
}

.button-hover.redButton {
    background-color: #E63E44/*#E1232A;*/
}


.scrollableControl {
    background-color: white;
    min-height: 100%;
    margin: auto;
}

.listCaption {
    padding: 0.125em;
    border-bottom: 1px solid #eee;
}

.listTransparentCaption {
    padding: 0.125em;
}

    .listCaption span {
        display: block;
        text-align: center;
        font-size: 1.2em;
    }

.listBody {
}

.dialogBody {
    text-align: center;
    margin: 1em;
    overflow-y: auto;
}

.infoBody {
    overflow-y: auto;
    padding: 0.25em;
}

.listItem {
    border-bottom: 1px solid #eee;
    line-height: 100%;
}

.listItemPadding {
    padding: 0.3em;
}

.listItemIcon {
    vertical-align: middle;
    line-height: initial;
}

.listItemIconRatingStar {
    vertical-align: middle;
    line-height: initial;
    display: inline-block;
}

.listItemIconRight {
}

.listItemText {
    padding-right: 0.3em;
    display: inline-block;
    vertical-align: middle;
    line-height: initial;
    width:100%;
}

.listItemTextEx {
    padding-right: 0;
}

.smallComment {
    font-size: 0.6em;
    color: #999;
    line-height: initial;
}

.captionTable {
    width: 100%;
    border: none;
}

.captionLeftTD, .captionRightTD {
    width: 1.5em;
}

.captionCenterTD {
    text-align: center;
    width: 100%;
}

.listItemTable {
    width: 100%;
    border: none;
}

.listItemLeftTD, .listItemRightTD {
    padding: 0.3em;
    width: 1.5em;
}

.listItemCenterTD {
    padding: 0.3em 0em;
    text-align: left;
}

.digitsTable {
    margin: auto;
    width: 90%;
    border-spacing: 0;
}

.digitsTableTR {
    padding: 0.125em 0 0.125em 0;
}

.digitsTableTD {
    padding: 0;
    text-align: center;
    /*width: 100%;*/
    display: inline-block;
}

.width100 {
    width: 100%;
}

.width33 {
    width: 32%;
}
.width2 {
    width: 2%;
}

.digitsTableTD .button {
    width: 100%;
    min-width: 2em;
    padding: 0.25em 0;
    margin: 0;
    font-size: 1.2em;
}

.font150 {
    font-size: 150%;
}

.timeSelectorCaption {
    text-align: center;
    display: inline-block;
    font-size: 85%;
    color: #999;
}

.timeSelector {
    height: 5em;
    display: inline-block;
    overflow-y: auto;
}

.timeSelector::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 0em;
    height: 0em;
}

.timeOverlay {
    /*background: linear-gradient(to top, rgba(255,255,255,1.0), rgba(255,255,255,0.0), rgba(255,255,255,1.0));*/
    background: linear-gradient(to top, rgba(255,255,255,1.0), rgba(255,255,255,0.7), rgba(255,255,255,0.0), rgba(255,255,255,0.7), rgba(255,255,255,1.0));
    height: 5em;
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.timeWheel{
    text-align: center;
}

.timeStub{
    color: transparent;
    padding: 0.5em 0;
}

.timeItem{
    padding: 0.5em 0;
}

.timeItemSelected{
    /*font-size: 110%;*/
}

.bottomBar{
    color: white;
    background-color: #60B6DD;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.button-hover.bottomBar {
    background-color: #3EA7D6
}

.headerBar{
    padding: 0.5em;
    color: white;
    background-color: #60B6DD;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.smallBodyText {
    font-size: 0.6em;
    line-height: initial;
    text-align: left;
}

.miniTable {
    width: 100%;
    font-size: 0.6em;
    line-height: initial;
    text-align: left;
}

.miniTableTD {
    width: 50%;
    padding: 0.25em 0;
    color: #999;
}

.miniText {
    padding: 0 1em 0 0.25em;
    color: #999;
}

.miniImage {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    padding-bottom: 0.125em;
}

.nanoTable {
    text-align: left;
    display: inline-block;
}

.nanoIconTD {
    width: 1.25em;
}

.header {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 2em;
	background: #CD235C;
	padding: 0;
}

.footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	/*height: 2em;*/
}

.wrapper {
	position: absolute;
	z-index: 1;
	/*top: 2em;*/
	/*bottom: 2em;*/
	width: 100%;
	overflow: hidden;
}

.scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


.add_company {
    width:50%;
    text-align: center;
}
.save_company {
    width:100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    /*box-shadow: 0px 1px 1px #888, 0px -1px 1px #888;*/
    /*-webkit-border-radius:;*/
    /*-moz-border-radius:;*/
    /*border-radius:none !important;*/
}
.inline-text {
    display: inline !important;
}
.input-promo img {
    display: inline-block;
    width: 10% !important;
}
.input-promo textarea {
    display: inline-block;
    width: 90%;
}
.corporate {
    display: block;
}